.header{
    display: flex;
    height: 400px;
}

.lefta{
    background-color: blue;
    margin: auto;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.righta{
  
    background-color: rebeccapurple;
    flex: 1;
}
.header_img{
    
    height: 100%;
    width: 100%;
}

.h1_add{
    font-style: bold;
    font-size: 39px;
    font-family: Alegreya,sans-serif;
    line-height: 39px;
    color: #ffff;
}
