.contactpage{
  background-image: url("https://images.unsplash.com/photo-1581456495146-65a71b2c8e52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80");
  color: transparent;
  height: 400px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.contactheading{
  text-align: center;
 padding: 180px;
  
  
}
.border{
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 35%;
  margin-right:35%;
}
.contacttext{
  color: white;
  font-size: 29px;
  font-weight: 600;
  white-space: nowrap;
}
.schoolname{
  color: yellow;
  font-size: 26px;
  font-weight: 600;
  white-space: nowrap;
}
.reachus{
  padding-top: 20px;
  margin-left: 15%;
}
.addressheading{
  font-size: 26px;
  font-weight: 600;
  color: #f31e1e;
}
.reachborder{
  content: " ";
  display: block;
  padding-top: 15px;
  border: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 90%;
  
}
.Add{
  padding-top: 15px;
}
.text{
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  padding-top: 15px;
}
.name{
  padding-top: 7px;
}

.apply-box{
  max-width: 600px;
  margin-left: 15%;
  margin-top: 50px;
  border-radius: 10px;
  padding-bottom: 3.5rem;
}

.form-container{
  margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-control{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 15px;
  margin-bottom: 5px;
}
input, 
select, 
textarea{
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input:focus , textarea:focus{
  outline-color: red;
}
.button-container{
  display: flex;
  justify-content: end;
  margin-top: 20px;  
}
button{
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
}
button:hover{
  background-color: cyan;
  color: black;
  border: 2px solid cyan;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.textarea-control{
  grid-column: 1 /span 2;
} 
.textarea-control textarea{
  width: 97%;
}
@media (max-width: 460px){
  .textarea-control{
  grid-column: 1 /span 1;
}
};