.slideshow {
  margin: 1.5rem auto;
  overflow: hidden;
  max-width: 100rem;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 500px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
.msgbox {
  background: #fff;
  padding: 30px;
  position: relative;
  min-height: 200px;
  width: 45%;
  margin-left: 15%;
}
.content {
  padding-right: 250px;
}
.block-title {
  margin: 0;
  margin-bottom: 15px;
  color: #212121;
  font-weight: 800;
  font-size: 15px;
}
.message {
  display: block;
  margin-bottom: 15px;
  line-height: 1.5;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 15px;
}
.name-script {
  font-size: 15px;
  font-weight: 600;
}
.title {
  color: #999;
  font-family: "Source Serif Pro", serif;
  font-size: 15px;
}
.figure {
  position: absolute;
  right: 30px;
  top: 30px;
  max-height: 250px;
  overflow: hidden;
  max-width: 250px;
}
.dir-img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
