.g_img_column{
    padding: 5px;
}
.g_img_row{
    
}
.g_img_column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.g_imgs img{
    height: 300px;
    width: 250px;
}
.gh{
    text-align: center;
}