* {
    margin: -1px;
    padding: 1px;
}
.gall{
    background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }
.g_img_column{
    padding: 5px;
}
.g_img_column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}
.g_imgs img{
    height: 300px;
    width: 277px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.gh{
    margin: 40px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 2.5rem;
    font-weight: 600;
    white-space: nowrap;    
}
.left{
    content:" ";
    display: block;
    height: 1px;
    width: 130px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
}

.right{
    content:" ";
    display: block;
    height: 1px;
    width: 130px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    flex: 1;
    margin-right: 20px;
    margin-left: 10px;
}
@media (max-width: 460px){
   .g_imgs img{
    height: 200px;
    width: 150px;
    margin-right: 8px;
    margin-bottom: 30px;
   }
  };
